<div>
    <h1>Nome dell'organizzazione: {{_actualOrg.name}} </h1>
    <table class="table">
      <caption>Lista delle coordinate dell'organizzazione</caption>
        <thead>
            <tr>
                <th scope="table" colspan="3">Lista delle coordinate dell'organizzazione</th>
            </tr>
            <tr>
                <th scope="col">#Punto</th>
                <th scope="col">Coordinata X</th>
                <th scope="col">Coordinata Y</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let coord of _perimeterCoordinates; index as i">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ coord.lat }}</td>
            <td>{{ coord.long }}</td>
          </tr>
        </tbody>
    </table>
</div>
