<div id="accordion">
    <div class="card">
        <span (click)="updateContent($event)" class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">Tracciamento</span>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <ul class="list-group">
                <li (click)="updateContent($event)" class="list-group-item btn btn-light">Monitoraggio utenti</li>
                <li (click)="updateContent($event)" class="list-group-item btn btn-light">Informazioni sull'organizzazione</li>
                <li (click)="updateContent($event)" class="list-group-item btn btn-light">Funzionalita 3 &lt;NOT IMPLEMENTED YET&gt;</li>
                <li (click)="updateContent($event)" class="list-group-item btn btn-light">Funzionalita 4 &lt;NOT IMPLEMENTED YET&gt;</li>
                <li (click)="updateContent($event)" class="list-group-item btn btn-light">Funzionalita 5 &lt;NOT IMPLEMENTED YET&gt;</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <span (click)="updateContent($event)" class="btn btn-light" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
            aria-controls="collapseTwo">
            Modifica dei parametri dell'organizzazione &lt;NOT IMPLEMENTED YET&gt;
    </span>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <ul class="list-group">
                <li (click)="updateContent($event)" class="list-group-item btn btn-light">Funzionalita 1 &lt;NOT IMPLEMENTED YET&gt;</li>
                <li (click)="updateContent($event)" class="list-group-item btn btn-light">Funzionalita 2 &lt;NOT IMPLEMENTED YET&gt;</li>
                <li (click)="updateContent($event)" class="list-group-item btn btn-light">Funzionalita 3 &lt;NOT IMPLEMENTED YET&gt;</li>
                <li (click)="updateContent($event)" class="list-group-item btn btn-light">Funzionalita 4 &lt;NOT IMPLEMENTED YET&gt;</li>
                <li (click)="updateContent($event)" class="list-group-item btn btn-light">Funzionalita 5 &lt;NOT IMPLEMENTED YET&gt;</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <span (click)="updateContent($event)" class="btn btn-light" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
            aria-controls="collapseThree">
            Gestione amministratori &lt;NOT IMPLEMENTED YET&gt;
    </span>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <ul class="list-group">
                <li (click)="updateContent($event)" class="list-group-item btn btn-light">Funzionalita 1 &lt;NOT IMPLEMENTED YET&gt;</li>
                <li (click)="updateContent($event)" class="list-group-item btn btn-light">Funzionalita 2 &lt;NOT IMPLEMENTED YET&gt;</li>
                <li (click)="updateContent($event)" class="list-group-item btn btn-light">Funzionalita 3 &lt;NOT IMPLEMENTED YET&gt;</li>
                <li (click)="updateContent($event)" class="list-group-item btn btn-light">Funzionalita 4 &lt;NOT IMPLEMENTED YET&gt;</li>
                <li (click)="updateContent($event)" class="list-group-item btn btn-light">Funzionalita 5 &lt;NOT IMPLEMENTED YET&gt;</li>
            </ul>
        </div>
    </div>
</div>