h1{
  font-size: 1em
}
.col{
  padding: 0;
}

#reset{
  margin-top: 1em;
  text-align: center;
  margin-bottom: 20%;
}

.btn{
  margin-left: 1em;
}

label{
  font-weight: bold;
  color: midnightblue;
}
