<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg p-3 mb-2 rounded">
  <span id="img"></span>
  <span class="btn btn-light navbar-brand position" (click)="homePage()" *ngIf="organization !== undefined"> {{organization.name}} </span>
  <ul class="navbar-nav mr-auto " id="oneline">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
        Organizzazione
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="listOrg">
        <li class="dropdown-item"  data-target="#loginModal" data-toggle="modal" (click)="setOrganization($event)" *ngFor="let o of orgArr; index as i" id="{{i}}" >{{o.name}}</li>
      </ul>
    </li>
  </ul>
  <div class="modal fade" *ngIf="isLDAP" data-keyboard="false" data-backdrop="static" id="loginModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Login LDAP</h4>
          <button class="close" data-dismiss="modal" (click)="closeLdapForm()">&times;</button>
        </div>
        <div class="modal-body">
          <form class="form-group" [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate >
            <fieldset>
              <legend>Login LDAP</legend>
              <label id="labelE" for="email">Email:</label>
              <input type="email" name="email" id="email" class="form-control" required="required" [(ngModel)]="email" placeholder="email" formControlName="email">
              <label id="labelPSW" for="pwd">Password:</label>
              <input type="password" name="password" class="form-control" [(ngModel)]="password" required="required" id="pwd" placeholder="password" formControlName="password" >
            </fieldset>
          </form>
          <p *ngIf="false"> Credenziali errate </p>
        </div>
        <div class="modal-footer">
          <button id="signInBtn" [disabled]="!contactForm.valid" class="btn btn-danger">Login</button> <!--(click)=""-->
          <button class="btn btn-danger" (click)="closeLdapForm()" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="signOut()">Logout</button>
  </form>
</nav>

