<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg p-3 mb-2 rounded">
  <span id="img"></span>
  <span class="btn btn-light navbar-brand position" (click)="homePage()" *ngIf="organization !== undefined"> <img id="logo" src="{{ organization.image }}" alt="logo di {{ organization.name }}"/> {{organization.name}} </span>
  <ul class="navbar-nav mr-auto " id="oneline">
    <li class="nav-item dropdown">
      <div *ngIf="this.orgArr !== undefined && this.orgArr !== null && this.orgArr.length > 0">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
          Organizzazione
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="listOrg">
          <li class="dropdown-item"  data-target="#loginModal" data-toggle="modal" *ngFor="let o of orgArr; index as i" (click)="setOrganization(i)">
            <img (click)="setOrganization(i)" src="{{ o.image }}" alt="logo di {{ o.name }}"/>
            {{o.name}}</li>
        </ul>
      </div>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <a id="help" target="_blank" class="btn" href="https://stalker-manuale-utente.readthedocs.io/webapp/funzionalita/" title="Link alla guida" aria-label="Link alla guida"></a>
    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="signOut()">Logout</button>
  </form>
</nav>

