<div class="container-fluid">
  <div id="img" class="row"></div>
  <div id="login" class="row" *ngIf="!(getAuth().userData | async )">
    <div class="col-md-6 offset-md-3">
      <form class="form-group" [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate >
        <fieldset>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" class="form-control" required="required" [(ngModel)]="email" placeholder="email" formControlName="email">
        <label for="pwd">Password:</label>
        <input type="password" name="password" class="form-control" [(ngModel)]="password" required="required" id="pwd" placeholder="password"formControlName="password" >
        </fieldset>
      </form>
      <p *ngIf="!getAuth().signOk"> Credenziali errate </p>
      <button id="signInBtn" (click)="signIn()" [disabled]="!contactForm.valid" class="btn btn-danger">Login</button>
      <button id="resetPswBtn" (click)="CallResetPassword()" class="btn btn-danger"> Password dimenticata</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
