<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" class="shadow p-4 mb-5 bg-white">
  <fieldset>
  <div class="card m-3">
    <h5 class="card-header">Modifica del perimetro di tracciamento</h5>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <label for="np">Numero di punti da inserire</label>
          <input id="np" type="text"  class="form-control" #num>
        </div>
        <div class="col">
          <button id="subnum" (click)="onChangePoints(num.value)" class="btn btn-danger">Mostra</button>
        </div>
      </div>
    </div>
    <div *ngFor="let point of tArray.controls; let i = index" class="list-group list-group-flush">
      <div class="list-group-item">
        <div [formGroup]="point" class="form-row">
          <div class="form-group col-6">
            <label for="lat">Latitudine</label>
            <input id="lat" type="text" formControlName="lat" class="form-control" />
          </div>
          <div class="form-group col-6">
            <label for="long">Longitudine</label>
            <input id="long" type="text" formControlName="long" class="form-control" />
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-danger mr-1"[disabled]="!dynamicForm.valid"> Modifica </button>
      <button class="btn btn-danger mr-1" type="reset" (click)="onReset()">Reset</button>
      <button class="btn btn-danger" type="button" (click)="onClear()">Pulisci</button>
    </div>
  </div>
  </fieldset>
</form>
