label{
  margin-top: 1em;
  margin-left: 0.1em;
}

#cancel{
  margin-left: 0.2em;
}
#buttons{
  margin-top: 1em;
}
.container {
  width:1200px;
  height:800px;
  /* position: absolute;*/
  top: 20%;
  left: 10%;
}

