<h1>Modifica dell'area di tracciamento di un'organizzazione</h1>
<div class="row shadow p-4 mb-5 bg-white">
  <div class="col-7">
    <p *ngIf="!Change"> Abilita la modifica e seleziona i punti nella mappa per modificare il perimetro di tracciamento </p>
    <p *ngIf="Change"> Seleziona i punti nella mappa e clicca il bottone Modifica per modificare il perimetro di tracciamento </p>
  </div>
  <div class="col-5">
    <button class=" btn btn-danger mr-1"  *ngIf="!Change" (click)="Change = true"> Abilità Modifica </button>
    <button class=" btn btn-danger mr-1"  *ngIf="Change" (click)="Change = false"> Disabilità Modifica </button>
    <button class=" btn btn-danger mr-1"  [disabled]="!Change" (click)="onModify()"> Invia Modifica </button>
    <button class=" btn btn-danger mr-1" *ngIf="Change && Markers.length > 0" (click)="resetP()"> Annulla punti </button>
  </div>
</div>
<div class="container shadow p-4 mb-5 bg-white">
  <app-osm-map-content
    (map$)="receiveMap($event)"
    (zoom$)="receiveZoom($event)"
    (Click$)="onMapClick($event)"
    id='modOrg-map'
  ></app-osm-map-content></div>
