<div class="shadow p-4 mb-5 bg-white" >
  <table class="table">
    <caption>Informazione generali dell'organizzazione</caption>
    <thead>
    <tr>
      <th scope="tabel"  colspan="8">Informazione generali dell'organizzazione</th>
    </tr>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Descrizione</th>
      <th scope="col">Via</th>
      <th scope="col">Numero civico</th>
      <th scope="col">Codice Postale</th>
      <th scope="col">Città</th>
      <th scope="col">Stato</th>
      <th scope="col">Data di creazione</th>
      <th scope="col">Data ultima modifica</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ getCurrentOrg.name }}</td>
      <td>{{ getCurrentOrg.description }}</td>
      <td>{{ getCurrentOrg.street }}</td>
      <td>{{ getCurrentOrg.number }}</td>
      <td>{{ getCurrentOrg.postCode }}</td>
      <td>{{ getCurrentOrg.city }}</td>
      <td>{{ getCurrentOrg.country }}</td>
      <td>{{ getCurrentOrg.creationDate }}</td>
      <td>{{ getCurrentOrg.lastChangeDate }}</td>
    </tr>
    </tbody>
  </table>
</div>
