<!--Login--------------------------------------------------->
<app-login></app-login>
<!--Login--------------------------------------------------->

<!--Reset--------------------------------------------------->
<app-reset-password></app-reset-password>
<!--Reset--------------------------------------------------->

<!--Control panel------------------------------------------->
<app-control-panel> </app-control-panel>
<!--Control panel------------------------------------------->

<app-footer></app-footer>

