<div class="container-fluid">
  <div>
    <form class="form-group shadow p-4 mb-5 bg-white" [formGroup]="getContactForm" novalidate >
      <fieldset>
        <div class="row p-2">
          <div class="col-md-3">
            <label id="labelE" for="email">Email del nuovo amministratore:</label>
          </div>
          <div class="col">
            <input type="email" name="email" id="email" class="form-control" required="required" [(ngModel)]="setAdminEmail" placeholder="email" formControlName="email">
          </div>
        </div>
        <button id="registerBtn" (click)="bindAdministrator()" [disabled]="!getContactForm.valid || getSelectedPriviledges == undefined" class="btn btn-danger">Associa a {{ getCurrentOrganizationName }}</button>
      </fieldset>
    </form>
  </div>
</div>
