tr,
th,
td {
  text-align: center;
}

h1 {
  font-size: 1.9em;
}

h2 {
  font-size: 1.6em;
}

.table td {
  text-align: center;
}
.container {
  width:80%;
  height:40em;
  top: 20%;
  left: 10%;
}

#lineDiv {
  z-index: 1001;
}

.btn{
  margin-bottom: 0.5em;
}
