tr,
th,
td {
  text-align: center;
}

h1 {
  font-size: 1.9em;
}

h2 {
  font-size: 1.6em;
}

.table td {
  text-align: center;
}
.container {
  width:1000px;
  height:800px;
/* position: absolute;*/
  top: 20%;
  left: 10%;
}

#lineDiv {
  z-index: 1001;
}
