label{
  margin-top: 1em;
  margin-left: 0.1em;
}

.title{
  font-size: 1.8em;
  display: inline;
  margin-right: 1em ;
}

#lineDiv{
  display: inline;
  padding: 2em 2em;
}

#lineDiv2{
  display: inline;
  padding: 2em 2em;
}


