h1 {
  font-size: 1.9em;
}
label{
  margin-top: 1em;
  margin-left: 0.1em;
}

.title{
  font-size: 1.8em;
  display: inline;
  margin-right: 1em ;
}

#lineDiv{
  display: inline;
  padding: 2em 2em;
}

#divMap{
  padding: 2em 2em;
}

.container {
  width:80%;
  height:40em;
  top: 20%;
  left: 10%;
  margin-bottom: 2em;
}
