#loginRequest {
  font-size: 1.75em;
}

.active {
  background-color: green !important;
}

.buttonSwitchTo {
  margin: 1em;
}

#selectPlaceDropdown {
  margin: 1em;
}

#incorrect_cred {
  color: red;
}
