<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span id="img"></span>
  <span class="btn btn-light navbar-brand position" (click)="homePage()" *ngIf="organization !== undefined"> {{organization.name}} </span>
  <ul class="navbar-nav mr-auto " id="oneline">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
        Organizzazione
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li class="dropdown-item" (click)="setOrg($event)" *ngFor="let o of orgArr; index as i" id="{{i}}">{{o.name}}</li>
      </ul>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="SignOut()">Logout</button>
  </form>
</nav>

