h1{
  font-size: 1em
}
.col{
  padding: 0;
}

#login {
  margin-top: 1em;
  margin-bottom: 13.5%;
  text-align: center;
}

.btn{
  margin-left: 1em;
}

#img{
  position: relative;
  left: 44%;
  background-image: url('../../../assets/icons/58329404.png');
  width: 200px;
  height: 200px;
  text-indent: 100%;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  white-space: nowrap;
  overflow: hidden;
}

label{
  font-weight: bold;
  color: midnightblue;
}

@media screen and (min-height: 721px)
{
  #login{
    min-height: 200px;
  }
}

@media screen and (min-height: 1010px)
{
  #login{
    min-height: 470px;
  }
}
