<!--BEGIN LDAP-->
<div *ngIf="this.getCurrentOrganization !== undefined && this.getCurrentOrganization.trackingMode === 'authenticated' && !isLoggedIn" data-keyboard="false" data-backdrop="static" id="loginModal">
  <h1 id="loginRequest">Per visualizzare gli amministratori effettuare prima il login per favore</h1>
  <div class="modal-dialog shadow p-4 mb-5 bg-white">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-group" [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate >
          <fieldset>
            <legend>Login al server aziendale</legend>
            <label id="labelEL" for="username">dn completo:</label>
            <input type="username" name="username" id="username" class="form-control" required="required" [(ngModel)]="setUsername" placeholder="username" formControlName="username">
            <label id="labelPSWL" for="pwdL">Password:</label>
            <input type="password" name="password" class="form-control" [(ngModel)]="setPassword" required="required" id="pwdL" placeholder="password" formControlName="password" >
            <p id="incorrect_cred" *ngIf="this.incorrectCredentials">Le credenziali inserite non sono corrette. Controllare e riprovare per favore.</p>
            <div class="modal-footer">
              <button id="signInBtn" [disabled]="!contactForm.valid" (click)="this.loginLDAP()" class="btn btn-danger">Login</button> <!--(click)=""-->
              <input type="reset" class="btn btn-danger"/>
            </div>
          </fieldset>
        </form>
        <p *ngIf="false">Credenziali errate</p>
      </div>
    </div>
  </div>
</div>
<!--END LDAP-->
<div *ngIf="this.getCurrentOrganization !== undefined && (this.getCurrentOrganization.trackingMode !== 'authenticated' || isLoggedIn)">
  <div id="loadingData" *ngIf="dataHasArrived === false" class="spinner-border text-danger" role="status">
  </div>
  <span *ngIf="dataHasArrived === false" class="center">Caricamento...</span>
  <h1 *ngIf="dataHasArrived === true">Gestione dei amministratori</h1>
  <div *ngIf="dataHasArrived === true" class="shadow p-4 mb-5 bg-white">
    <h2>Amministratori di {{ getCurrentOrganization.name }} e i loro permessi</h2>
    <div class="row line-down">
      <div *ngIf="this.getCurrentOrganization && this.getCurrentOrganization.trackingMode === 'authenticated'" class="col-2">
        <strong>Cognome Nome</strong>
      </div>
      <div class="col-3">
        <strong>E-mail</strong>
      </div>
      <div class="col-2">
        <strong>Privilegi</strong>
      </div>
      <div class="col-2 text-center">
        <strong>Modifica privilegi</strong>
      </div>
      <div *ngIf="this.getCurrentOrganization && this.getCurrentOrganization.trackingMode === 'authenticated'" class="col-1">
        <strong>Nuovi privilegi</strong>
      </div>
      <div *ngIf="this.getCurrentOrganization && this.getCurrentOrganization.trackingMode === 'anonymous'" class="col-3">
        <strong>Nuovi privilegi</strong>
      </div>
      <div class="col-2 text-center">
        <strong>Rimuovi amministratore</strong>
      </div>
    </div>
    <div class="row p-1" *ngFor="let perm of getPermissions; index as i">
      <div class="col-2" *ngIf="this.getCurrentOrganization && this.getCurrentOrganization.trackingMode === 'authenticated'">
        <p *ngIf="perm.orgAuthServerId === undefined || perm.orgAuthServerId === null || perm.orgAuthServerId === ''">Non disponibile</p>
        <p *ngIf="perm.orgAuthServerId && perm.orgAuthServerId !== ''">{{ getNameOfLdapUser(perm.orgAuthServerId) }}</p>
      </div>
      <div class="col-3">
        <p>{{ perm.mail }}</p>
      </div>
      <div class="col-2">
        <p>{{ getPermissionLevelNoun(perm.permission) }}</p>
      </div>
      <div class="col-2 text-center">
        <div class="dropdown">
              <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Modifica privilegi
              </button>
            <div id="{{ perm.administratorId }}" class="dropdown-menu" aria-labelledby="dropdownMenuButton"><div *ngIf="perm.permission !== 1" class="dropdown-item" (click)="addPermissionModificationInstance($event, 1); updateModifiedPermissionOnTable(i, 'Visualizzatore')">Visualizzatore</div><div *ngIf="perm.permission !== 2" class="dropdown-item" (click)="addPermissionModificationInstance($event, 2); updateModifiedPermissionOnTable(i, 'Gestore')">Gestore</div>
          </div>
        </div>
      </div>
      <div *ngIf="this.getCurrentOrganization && this.getCurrentOrganization.trackingMode === 'anonymous'" class="col-3">
        <p *ngIf="permissionModificationsTableText != undefined && i < permissionModificationsTableText.length">{{ permissionModificationsTableText[i] }}</p>
      </div>
      <div *ngIf="this.getCurrentOrganization && this.getCurrentOrganization.trackingMode === 'authenticated'" class="col-1">
        <p *ngIf="permissionModificationsTableText != undefined && i < permissionModificationsTableText.length">{{ permissionModificationsTableText[i] }}</p>
      </div>
      <div class="col-2 text-center">
        <button class="btn btn-danger" (click)="removeAdministrator(perm.mail)">Rimuovi</button>
      </div>
    </div>
  </div>
  <div *ngIf="getPermissionModifications != undefined &&  getPermissionModifications.length != 0" class="container shadow p-4 mb-5 bg-white">
    <div class="row">
      <h1>Applicare le modifiche?</h1>
    </div>
    <div class="row">
      <div class="col-sm-3 text-right">
        <div class="next">
          <button (click)="eraseModificationList()" class="btn btn-danger">Annulla le modifiche</button>
        </div>
      </div>
      <div class="col-sm-3 text-left">
        <div class="previous">
          <button (click)="updatePermissionList()" class="btn btn-success">Salva le modifiche</button>
        </div>
      </div>
    </div>
  </div>
</div>
