<div *ngIf="this.getCurrentOrganization">
  <p id="loadingData" *ngIf="dataHasArrived === false">Attendere, caricamento dati in corso...</p>
  <h1 *ngIf="dataHasArrived === true">Gestione dei amministratori</h1>
  <div *ngIf="dataHasArrived === true" class="shadow p-4 mb-5 bg-white">
    <h2>Amministratori di {{ getCurrentOrganization.name }} e i loro permessi</h2>
    <div class="row line-down">
      <div class="col-3">
        <strong>E-mail</strong>
      </div>
      <div class="col-2">
        <strong>Privilegi</strong>
      </div>
      <div class="col-3 text-center">
        <strong>Modifica privilegi</strong>
      </div>
      <div class="col-1">
        <strong>Nuovi privilegi</strong>
      </div>
      <div class="col-3 text-center">
        <strong>Rimuovi amministratore</strong>
      </div>
    </div>
    <div class="row p-1" *ngFor="let perm of getPermissions; index as i">
      <div class="col-3">
        <p>{{ perm.mail }}</p>
      </div>
      <div class="col-2">
        <p>{{ getPermissionLevelNoun(perm.permission) }}</p>
      </div>
      <div class="col-3 text-center">
        <div class="dropdown">
              <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Modifica privilegi
              </button>
            <div id="{{ perm.administratorId }}" class="dropdown-menu" aria-labelledby="dropdownMenuButton"><div *ngIf="perm.permission !== 1" class="dropdown-item" (click)="addPermissionModificationInstance($event, 1); updateModifiedPermissionOnTable(i, 'Visualizzatore')">Visualizzatore</div><div *ngIf="perm.permission !== 2" class="dropdown-item" (click)="addPermissionModificationInstance($event, 2); updateModifiedPermissionOnTable(i, 'Gestore')">Gestore</div>
          </div>
        </div>
      </div>
      <div class="col-1">
        <p *ngIf="permissionModificationsTableText != undefined && i < permissionModificationsTableText.length">{{ permissionModificationsTableText[i] }}</p>
      </div>
      <div class="col-3 text-center">
        <button class="btn btn-danger" (click)="removeAdministrator(perm.mail)">Rimuovi</button>
      </div>
    </div>
  </div>
  <!--table *ngIf="dataHasArrived === true" class="table shadow p-4 mb-5 bg-white">
    <caption>Amministratori di {{ getCurrentOrganization.name }} e i loro permessi</caption>
    <thead>
    <tr>
      <th scope="table" colspan="3">Lista degli amministratori di {{ getCurrentOrganization.name }} e dei loro permessi</th>
    </tr>
    <tr>
      <th scope="col">#amministratore</th>
      <th scope="col">E-mail</th>
      <th scope="col">Privilegi</th>
      <th scope="col">Modifica privilegi</th>
      <th scope="col">Nuovi privilegi</th>
      <th scope="col">Rimuovi amministratore</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let perm of getPermissions; index as i">
      <th scope="row">{{ i+1 }}</th-->
      <!--td>{{ perm.mail }}</td-->
      <!--td>{{ perm.mail }}</td>
      <td>{{ getPermissionLevelNoun(perm.permission) }}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modifica privilegi
          </button>
          <div id="{{ perm.administratorId }}" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div *ngIf="perm.permission !== 1" class="dropdown-item" (click)="addPermissionModificationInstance($event, 1); updateModifiedPermissionOnTable(i, 'Visualizzatore')">Visualizzatore</div>
            <div *ngIf="perm.permission !== 2" class="dropdown-item" (click)="addPermissionModificationInstance($event, 2); updateModifiedPermissionOnTable(i, 'Gestore')">Gestore</div>
          </div>
        </div>
      </td>
      <td *ngIf="permissionModificationsTableText != undefined && i < permissionModificationsTableText.length">{{ permissionModificationsTableText[i] }}</td>
      <td><button class="btn btn-danger" (click)="removeAdministrator(perm.mail)">Rimuovi</button></td>
    </tr>
    </tbody>
  </table-->
  <div class="container">
    <div class="row shadow p-4 mb-5 bg-white" *ngIf="getPermissionModifications != undefined &&  getPermissionModifications.length != 0">
      <div class="col-sm-3 text-right">
        <div class="next">
          <button (click)="eraseModificationList()" class="btn btn-danger">Annulla le modifiche</button>
        </div>
      </div>
      <div class="col-sm-3 text-left">
        <div class="previous">
          <button (click)="updatePermissionList()" class="btn btn-success">Salva le modifiche</button>
        </div>
      </div>
    </div>
  </div>
</div>
