*{
  word-wrap: break-word;
}
#applyChangesP {
  text-align: center;
}

#loadingData {
  font-size: 4em;
  padding: 5% 5%;
  margin: 15% 45%;
}

.center{
  color: red;
  font-size: 2em;
  font-weight: bold;
  margin: 0 40%;
}

h1 {
  font-size: 1.9em;
}

h2{
  font-size: 1.2em;
}

.btn{
  margin-bottom: 0.5em;
}

.line-down{
  border-bottom: 1px solid #cccccc ;
  padding-bottom: 0.5em;
  margin-bottom: 0.2em;
}
