<div class="shadow p-4 mb-5 bg-white">
  <form>
    <fieldset>
    <div class="row">
      <div class="col">
        <label id="labelLat1" for="lat1">Latitudine 1</label>
        <input type="text" id="lat1" name="lat1" class="form-control" placeholder="Latitudine 1">
      </div>
      <div class="col">
        <label id="labelLong1" for="long1">Longitudine 1</label>
        <input type="text" id="long1" name="long1" class="form-control" placeholder="Longitudine 1">
      </div>
    </div>
      <div class="row">
        <div class="col">
          <label id="labelLat2" for="lat2">Latitudine 2</label>
          <input type="text" id="lat2" name="lat2" class="form-control" placeholder="Latitudine 2">
        </div>
        <div class="col">
          <label id="labelLong2" for="long2">Longitudine 2</label>
          <input type="text" id="long2" name="long2" class="form-control" placeholder="Longitudine 2">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label id="labelLat3" for="lat3">Latitudine 3</label>
          <input type="text" id="lat3" name="lat3" class="form-control" placeholder="Latitudine 3">
        </div>
        <div class="col">
          <label id="labelLong3" for="long3">Longitudine 3</label>
          <input type="text" id="long3" name="long3" class="form-control" placeholder="Longitudine 3">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label id="labelLat4" for="lat4">Latitudine 4</label>
          <input type="text" id="lat4" name="lat4" class="form-control" placeholder="Latitudine 4">
        </div>
        <div class="col">
          <label id="labelLong4" for="long4">Longitudine 4</label>
          <input type="text" id="long4" name="long4" class="form-control" placeholder="Longitudine 4">
        </div>
      </div>
      <div id="buttons" class="row">
        <div class="col">
          <button id="submit"  aria-label="button" class="btn btn-danger">Modifica</button>
          <input type="reset" id="cancel" aria-label="button" name="Cancel" class="btn btn-danger">
        </div>
      </div>
    </fieldset>
  </form>
  <br/>


</div>
