<!--form [formGroup]="dynamicForm" class="shadow p-4 mb-5 bg-white">
  <fieldset>
    <div class="card m-3">
      <div class="card-header ">
        <h1 class="title" >Modifica del perimetro di tracciamento</h1>
        <div class="dropdown" id="lineDiv">
          <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Luogo
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item"  (click)="setPlace($event)" *ngFor="let o of PlaceArr; index as i" id="{{i}}" >{{o.name}}</a>
          </div>
        </div>
        <span *ngIf="CurrentPlace!== undefined"> {{CurrentPlace.name}}</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <label for="np">Numero di punti da inserire</label>
            <input id="np" type="text"  class="form-control" #num>
          </div>
          <div class="col">
            <br/>
            <br/>
            <button id="subnum" (click)="onChangePoints(num.value)" class="btn btn-danger">Mostra</button>
          </div>
        </div>
      </div>
      <div *ngFor="let point of tArray.controls; let i = index" class="list-group list-group-flush">
        <div class="list-group-item">
          <div [formGroup]="point" class="form-row">
            <div class="form-group col-6">
              <label for="lat">Latitudine</label>
              <input id="lat" type="text" formControlName="lat" class="form-control" />
            </div>
            <div class="form-group col-6">
              <label for="long">Longitudine</label>
              <input id="long" type="text" formControlName="long" class="form-control" />
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-danger mr-1" (click)="onSubmit()" [disabled]="!dynamicForm.valid || !submitted"> Modifica </button>
        <button class="btn btn-danger mr-1" type="reset" (click)="onReset()">Reimposta</button>
        <button class="btn btn-danger" type="button" (click)="onClear()">Pulisci</button>
      </div>
    </div>
  </fieldset>
</form-->
<h1>Modifica dell'area di tracciamento di un luogo</h1>
<div class="shadow p-4 mb-5 bg-white" *ngIf="this.PlaceArr === undefined || this.PlaceArr === null || this.PlaceArr.length <= 0">
  <p>Non ci sono luoghi per l'organizzazione</p>
</div>
<div class="shadow p-4 mb-5 bg-white" *ngIf="this.PlaceArr !== undefined && this.PlaceArr !== null && this.PlaceArr.length > 0">
  <div class="row">
    <div class="col-7">
      <p *ngIf="!Change"> Abilita la modifica e seleziona i punti nella mappa per modificare il perimetro di tracciamento </p>
      <p *ngIf="Change"> Seleziona i punti nella mappa e clicca il bottone Modifica per modificare il perimetro di tracciamento </p>
    </div>
    <div class="col-5 text-right">
      <button class=" btn btn-danger mr-1"  *ngIf="!Change" (click)="Change = true"> Abilità Modifica </button>
      <button class=" btn btn-danger mr-1"  *ngIf="Change"(click)="Change = false"> Disabilità Modifica </button>
      <button class=" btn btn-danger mr-1"  [disabled]="!Change" (click)="onModify()"> Modifica </button>
      <button class=" btn btn-danger mr-1"  *ngIf="Change && Markers.length > 0" (click)="resetP()"> Annulla punti </button>
    </div>
  </div>
  <div class="row">
    <div class="dropdown text-center" id="lineDiv">
      <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Luogo
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item"  (click)="setPlace($event)" *ngFor="let o of PlaceArr; index as i" id="{{i}}" >{{o.name}}</a>
      </div>
    </div>
    <p id="namp"*ngIf="CurrentPlace!== undefined"> {{CurrentPlace.name}}</p>
  </div>
</div>

<div class="container shadow p-4 mb-5 bg-white" *ngIf="this.PlaceArr !== undefined && this.PlaceArr !== null && this.PlaceArr.length > 0">
  <app-osm-map-content
    (map$)="receiveMap($event)"
    (zoom$)="receiveZoom($event)"
    (Click$)="onMapClick($event)"
    id='modPlace-map'
  ></app-osm-map-content>
</div>

